.App {
  height: 100%;
}

.mainContainer {
  width: 100%;
}

.mainbg {
  width: 100%;
  position: relative;
  height: auto;
}

.mainct {
  width: 25vw;
  position: absolute;
  cursor: pointer;
}

.cateLink:hover .mainct {
  display:none;
}
.cateLink:hover img.hoverImg {
  display:inline-block;
  transform: rotate(7deg) scale(1.1);
}
.cateLink:nth-child(2n) img.hoverImg {
  transform: rotate(-7deg) scale(1.1);
}

.ct1 {
  top: 120px;
  right: 140px;
}
.ct2 {
  top: 450px;
  left: 530px;
}
.ct3 {
  top: 1300px;
  right: 360px;
}
.ct4 {
  top: 1450px;
  left: 220px;
}

.hoverImg {
  display:none;
}

.cateTitle {
  background-color:white;
  color:rgb(120, 55, 180);
  display: inline-block;
  line-height:30px;
  padding:0 20px;
  border-radius: 15px;
}

@media only screen and (max-width: 992px) {
  .mainContainer {
    position: relative;
    width: 100%;
  }

  .mainbg {
    position: absolute;
    width: 100%;
    height: auto;
  }
}
