@font-face {
  font-family: 'Yeongdo-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, html, #root {
  height:100%;
}

.App {
  height: 100%;
}
.mainContainer {
  width: 100%;
  height:100%;
}
/* .mainbg {
  width: 100%;
  position: relative;
  height: auto;
}*/

.main {
  position: relative;
  height:100%;
  text-align: center;
}
.main1 {
  background:url('/src/assets/main_bg01.jpg') no-repeat top center fixed;
  background-size: cover;
}
.main2 {
  background:url('/src/assets/main_bg02.jpg') no-repeat top center fixed;
  background-size: cover;
}
.main3 {
  background:url('/src/assets/main_bg03.jpg') no-repeat top center fixed;
  background-size: cover;
}
.main4 {
  background:url('/src/assets/main_bg04.jpg') no-repeat top center fixed;
  background-size: cover;
}

.cateLink {
  position: absolute;
  left:50%;
  bottom:30px;
  transform:translate(-50%,0);
  display: inline-block;
  width:800px;
  height: auto;
  transition: .2s;
} 
.mainct {
  width:100%;
}
.cateLink:hover .mainct {
  display:none;
}
.cateLink:hover img.hoverImg {
  display:inline-block;
  transform:scale(1.05);
}

.hoverImg {
  display:none;
}

.cateTitle {
  background-color:white;
  color:rgb(120, 55, 180);
  display: inline-block;
  line-height:60px;
  padding:0 20px;
  border-radius: 40px;
  font-family: 'Yeongdo-Rg';
  font-size:30px;
  margin-top:80px;
}

/* .ct1 {
  top: 120px;
  right: 140px;
}
.ct2 {
  top: 450px;
  left: 530px;
}
.ct3 {
  top: 1300px;
  right: 360px;
}
.ct4 {
  top: 1450px;
  left: 220px;
} */

@media only screen and (max-width: 992px) {
  .mainContainer {
    position: relative;
    width: 100%;
  }
  .cateLink {
    max-width:700px;
    width:80%;
  } 
}

@media only screen and (max-width: 820px) {
  .mainContainer {
    position: relative;
    width: 100%;
  }
  .main1 {
    background:url('/src/assets/main_m_bg01.jpg') no-repeat top center fixed;
    background-size: cover;
  }
  .main2 {
    background:url('/src/assets/main_m_bg02.jpg') no-repeat top center fixed;
    background-size: cover;
  }
  .main3 {
    background:url('/src/assets/main_m_bg03.jpg') no-repeat top center fixed;
    background-size: cover;
  }
  .main4 {
    background:url('/src/assets/main_m_bg04.jpg') no-repeat top center fixed;
    background-size: cover;
  }
  .cateLink {
    bottom:auto;
    top:42%;
  } 
}